/dataset/aminer/
/dataset/aminer.pt
/pretrain_result/
/model/
/dataset/
/data/
/other_models/
/logs/
/experiments/
/visiualization/
/example_dataset/
test.py
expsim_globalsearch.py
exp_link_pretrain.py
exptau_globalsearch.py
accuracy_globalsearch_new.py
test_all_global_new.sh
accuracy_globalsearch_binary_right.py
test_all_global_binary_right.sh
accuracy_threshold.py
accuracy_topk.py
test_all_threshold.sh
test_all_topk.sh
scripts/exp_augmented_sampler_search.sh
scripts/exp_augmented_sampler_train.sh